.contenedor {
    display: grid;
    gap: 0.5rem;
    row-gap: 1rem;
    /* grid-template-columns: auto auto auto; */
    /* grid-template-columns: 20px 3rem 25vw; */
    grid-template-columns: 3fr 3fr 3fr;
    grid-template-rows: 3fr 3fr 3fr;
    /* grid-template-areas: 'head head head' 'main main aside' 'footer footer footer'; */
}

.item {
    background-color: aquamarine;
    padding: 0.25rem;
    color: slategrey;
    font-size: 2rem;
    border: solid 1px blue;
}

/* .item1 {
    grid-column: 2 / span 2;
    /* grid-area: head; */
}

.item9 {
    grid-area: 2 / 1 / 4 /5;
} */