.static {
    border: 1px solid gray;
    padding: 5px;
}


/* Posicionamiento relativo - se posiciona en relación al posicionamiento original */
.relative {
    border: 2px solid salmon;
    padding: 10px;
    position: relative;
    left: 80px;
}

/* siempre se va a mantener fijo */
.fixed {
    position: fixed;
    bottom: 0%;
    border: 3px solid;
    background-color: cadetblue;
}

/* Posicionamiento absoluto - siempre queda como hijo de elemento padre, en este caso de la etiqueta body */
.absolute {
    position: absolute;
    border: 1px solid;
    color: crimson;
    top: 0%;
}

/* Al hace scroll modifica su posicionamiento relativo->fijo */
.sticky {
    position: static;
    background-color: yellowgreen;
    top: 0px;
    z-index: 2;
}